---
layout: default
title: AI in Action
permalink: /AIinAction/
---

<head>
  <link rel="stylesheet" type="text/css" href="{{ '/assets/style/main.css' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/style/aiInAction.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<div class="ai-in-action">
  <h1>Welcome to the Showcase of AI in Action</h1>
  <p>Explore the featured apps and discover the stories behind AI in action!</p>
<br>
  <section class="app-cards">

    {% for app in site.data.apps %}
 
	<a href="{{ app.url | relative_url }}"
	class="read-more">
<hr>
      <div class="app-card">
	  			<!-- Add the video element here -->
          <h4><span class="fas fa-code icon"></span><u>{{ app.title }}</u></h4>	     <p class="tags">
            {% assign tags = app.tags | split: "," %}
            {% for tag in tags %}
              <span class="tag">{{ tag | strip }}</span>
            {% endfor %}
          </p>
	  <div class="app-video">
			<video controls>
			  <source src="{{ app.video_url | relative_url }}" type="video/mp4">
			  Your browser does not support the video tag.
			</video>
			

		  </div>
        <div class="app-card-inner">

          <p class="app-description">{{ app.short_description }}</p>
        </div>
      </div>
	  </a>
    {% endfor %}
  </section>
</div>
