body{
  font-family: "Arial", sans-serif; 
  font-size:16px;
}
.app-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.app-card {
  background-color: #fff;
  overflow: hidden;
  transition: transform 0.2s;
  max-width: 100%;
  color:black;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.app-card {
  position: relative;
}

.read-more {
  position: relative;
 
  bottom: 10px; /* Adjust this value to control the vertical position */
  right: 10px; /* Adjust this value to control the horizontal position */
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
}

.fas{
	color:#005088;
}
.tag{
	display: inline-block;
    border-radius: 16px;
    padding: 4px 12px;
    margin: 0 6px 6px 0;
    font-size: 12px;
	color:black;
}
.tag::before{
	content: "@ ";
}
.app-video {
  /* Adjust video container styles as needed */
  margin-left: 0px; 
  margin-right: 20px; /* Add some space between the card and the video */
}
video {
  max-width: 100%; /* Ensure the video doesn't overflow the container */
}
