body{
  font-family: "Arial", sans-serif; 
  font-size:15px;
  padding-left:11%;
  padding-right:11%;
  color:black;
}
.site-nav{
	font-weight:550;
}
.publications-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}
.icon {
    margin-right: 10px;
    color: #fff; /* Set the icon color to white */
}
.tag .icon {
	margin-right: 5px;
    color: #005088;
}
.summary{
	background-color: #ECF0F5; 
	padding: 20px; 
	border-radius: 5px; 
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.summary h2{
	color: #333;
}
.summary .icon{
	color: #005088;
	margin-bottom:10px;
}
.summary .icon b{
	font-family: "Arial", sans-serif; 
}
.coming-soon-tag {
  display: inline-block;
  background-color: #ff5722; /* Change the color as desired */
  color: white;
  padding: 1px 4px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px;
  animation: glowing 2s infinite; /* Add a glowing animation */
  font-size: 12px;
}
@keyframes glowing {
  0% {
	box-shadow: 0 0 5px #ff5722;
  }
  50% {
	box-shadow: 0 0 20px #ff5722, 0 0 30px #ff5722;
  }
  100% {
	box-shadow: 0 0 5px #ff5722;
  }	  
}
.site-header{
	margin-top:-5px;
}
.site-title {
    font-weight: 500; 
    font-family: "cursive", "Lucida Handwriting", "Brush Script MT", cursive;
    color: #005088 !important;
	font-size:22px;
	letter-spacing: -1px;
}

/* Rounded and responsive profile image */
.profile-image {
  border-radius: 4%; /* Makes the image rounded */
  max-width: 32%; 
  margin-left: 35px;
 
}
.text {
  display: inline-block;
  vertical-align: top;
  flex: 1; /* Allow the text to take up remaining space */
}
.tags {
	margin-bottom: 10px;
}
.tag{
	display: inline-block;
	background-color: none; /* Background color of the capsule */
	border: 1px solid #005088; /* Adjust the radius for the desired capsule shape */
	border-radius: 16px;
	padding: 6px 12px; /* Adjust padding as needed */
	margin: 6px -2px 16px 0px; /* Adjust margins for spacing between tags */
	font-size: 14px; /* Adjust the font size as needed */
	font-weight: bold;
	color: #005088;
}
/* Default styles for the button */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
	font-size: 16px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #007bff;
}
.technical-skill {
	background-color: lightyellow;
    text-decoration: underline blue;
}
ul {
    list-style: none;
    margin-left: 0;
}
.skills li {
    margin-bottom: 20px;
	padding-bottom: 10px;
    position: relative;
}
.blog-posts li {
    margin-bottom: 20px;
	padding-bottom: 10px;
    position: relative;
}
.blog-posts h2 {
	margin-bottom: 5px;
}

.tags {
    margin-bottom: 10px;
}
.tags .tag {
	display: inline-block;
    background-color: #E8E8E8;
    border-radius: 16px;
    padding: 4px 12px;
    margin: 0 6px 6px 0;
    font-size: 12px;
	color:black;
	border: none;
}

.intro {
  display: flex; /* Use flexbox to align items horizontally */
  margin-top: 1%;
  align-items: flex-start; /* Align items to the top of the container */
}
/* Indent date to the right */
.blog-posts h2 {
  display: flex;
  justify-content: space-between;
  font-size: 1rem; /* Adjust the size as needed */
  color: grey; /* Set the title color to black */
}
/* Indent date to the right */
.blog-posts h2 a{
  display: flex;
  text-decoration: underline;
  justify-content: space-between;
  font-size: 1.1rem; /* Adjust the size as needed */
  color: black; /* Set the title color to black */
}

b {
	font-weight:600;
}  
.blog-post a{
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s;
    border-bottom: 1px solid #3498db;
    padding-bottom: 2px; 
}

.blog-post a:hover, .intro a:hover {
    color: #e74c3c; /* Change link color on hover */
    border-color: #e74c3c; /* Change border color on hover */
	text-decoration:none;
}
.post-date{
	display:inline-block;
}
.post-date-mob{
	display:none;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.social-link {
  margin-right: 10px; /* Adjust the spacing between the image and icons */
  font-size: 20px;
}

/* Add any additional styling as needed */


@media screen and (max-width: 768px) {
    body {
        padding: 5px;
		font-size:18px;
    }
	.site-header{
		margin-top:-10px;
	}
    .button {
        padding: 8px 16px;
        margin-right: 5px;
		margin-bottom: 10px;
		width: 100%;
		font-size: 18px;
    }
	.intro {
    display: flex; /* Use flexbox to align items horizontally */
    flex-direction: column; /* Stack the image on top of the text */
    align-items: center; /* Center-align items */
    text-align: center;
  }
    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .social-link {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
	.text {
        width: 100%;
        text-align: left;
    }
  .profile-image {
    max-width: 100%; /* Adjust the image width as needed */
    margin-left: 0; /* Remove spacing between the image
	and text */
    
	order: -1;
	margin-bottom: 20px; 
	
  }
	
	.site-title {
		font-weight: 600; 
		font-family: "cursive", "Lucida Handwriting", "Brush Script MT", cursive;
		color: #005088 !important;
		font-size:30px;
		letter-spacing: -1px;
	}
	.tags {
		margin-bottom: 20px;
	}
	.tags .tag {
		display: inline-block;
		background-color: #E8E8E8;
		border-radius: 16px;
		padding: 4px 12px;
		margin: 0 10px 10px 0;
		font-size: 16px;
		color:black;
		border: none;
	}
	.post-date{
		display:none;
	}
	.post-date-mob{
		display:inline-block;
	}
	.social-link {
  margin-right: 10px; /* Adjust the spacing between the image and icons */
  font-size: 25px;
}
}
/* Reduce the spacing before and after the custom horizontal rule */
hr {
  margin-top: 0px; /* Remove margin above the <hr> */
  margin-bottom: 5px; /* Remove margin below the <hr> */
  padding-top: 0; /* Remove padding above the <hr> (if any) */
  padding-bottom: 0; /* Remove padding below the <hr> (if any) */
  border: none; /* Remove the default border, if any */
  border-top: 1px solid lightgrey; /* Optionally, add your own custom border style */

}
