---
layout: default
---

<head>
  <!-- Other head elements -->

  <link rel="stylesheet" type="text/css" href="{{ '/assets/style/main.css' | relative_url }}">
</head>
<div class="container">
  <div>
    <a href="mailto:garry.singh@intelsoft.ca?subject=Hiring%20Inquiry:%20Garry%20Singh%20Blog">
      <button class="button">
        <i class="fas fa-envelope icon"></i> <!-- Icon for "Hire Garry" -->
        Hire Garry
      </button>
    </a>
    <a href="https://www.linkedin.com/in/singhgarry/">
      <button class="button">
        <i class="fab fa-linkedin-in icon"></i> <!-- Icon for "Connect with Garry" -->
        Connect with Garry
      </button>
    </a>
  </div>
  <div class="page-content">
    {{ content }}
  </div>
</div>
